/*
#Include the following files:
!.gitignore
!hypr/
hypr/previous_wallpaper
!wlogout/
!waybar/
!kitty/
!tmux/
!wofi/
!Kvantum/
!nwg-look/
!qt6ct/
!zsh/
zsh/.zsh_history
zsh/.zcompdump
!.zshenv
!yazi/
